/*
Common
*************/

html, body {
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp7800583.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    
.main-logo img {
    block-size: 100px;
}

.main-logo {
    color: rgb(255, 238, 0);
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center !important;
    
    
    
}

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: rgb(71, 71, 71);
    opacity: 80%;
}

/*
Post
*************/

.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid  #ccc;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid  #ccc;
}

.post_form p {
    color: #ccc;
}

.posts ul {
    padding: 0;
    display: contain;
}

.posts li {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none; 
    border-top: 1px solid #ccc;
    background-color: rgb(71, 71, 71);
    
}
.name_body .post_image{
    width:50px;
    height: 50px;

}

.posts li .menu_icon {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;

}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15% !important;
}

.posts li .logo img {
    width: 100% !important;
    height: 15% !important;
    opacity: 100% !important;
    justify-content:start !important;
}

.posts li .name_body {
    flex-basis: 100%;
}

.posts li .name_body .name {
    font-weight: bold;
    font-size: large;
    display: inline;
    font-size: x-large !important;
    align-content: left;
}

.posts li .name_body .datetime {
    color: rgb(255, 255, 255);
    font-size: small;
    display: inline-block;
    font-weight: 100;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}

.posts .name {
    color: white;
}

.posts p {
    color: white;
}

/*********
Post Likes
*********/

.like-content {
    width: 100%;
    margin: 40px 0 0;
    padding: 40px 0 0;
    font-size: 18px;
    text-align: left;
    display: inline-flex;
}

.like-content h1 {
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 25px;
    font-size: x-large;
    
}

.like-content span {
    color: gray;
	font-family: monospace;
}
.like-content .btn-secondary {
	  display: block;
	  margin: 40px auto 0px;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	  transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	  margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

.name_body p {
    position: contain;
    
}

/******
EDIT
******/

.main-header {
    color:rgb(255, 238, 0);
    font-size: 30px;
    text-align: center;
    
}