<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fortnite Gamers Hub Edit Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <div id="head">
      <H1>Edit Your Message Here</H1>
  </head>
  <body>
    {% load static %}
    <section class="content">
        <section class="post_form">
          <form action="/" method="POST">
            {% csrf_token %}
            <textarea name="body" placeholder={{post.body}} ></textarea>
            <input type="submit" value="Post" />
          </form>
        </section>
  </body>
</html>

