{% extends "base.html" %}{% block content %}{% load static %}

<section class="content">
  <section class="main-header">
    <h1>EDIT</h1>
  </section>
  <section class="post_form">
    <div class="primary"></div>

    <form
      action="/edit/{{post.id}}/"
      method="POST"
      enctype="multipart/form-data"
      class="forms"
    >
      {% csrf_token %}
      <input
        type="text"
        value="{{post.name}}"
        name="name"
        placeholder="Name"
        required
      />
      <input id="textarea" name="body" value="{{post.body}}" />

      {% if post.image.url %}
      <img
        src="{{post.image.url}}"
        alt="image"
        style="width: 100%; height: 300px; object-fit: contain"
      />

      {% endif %}
      <p>Upload File: <input type="file" name="image" /></p>
      <input type="submit" value="Update" />
      <a href="/"> <input id="cancel" value="Cancel" /></a>
    </form>
    {% endblock %}
  </section>
</section>
